dulwich~=0.22.7
debugpy>=1.8.0
fakeredis~=2.26
httpx~=0.28.1
invoke~=2.2
pre-commit~=4.0
pylint~=3.3
pytest~=8.3
pytest-cov~=6.0

# httpx is necessary due to the use of fastapi/starlette's TestClient
# See https://fastapi.tiangolo.com/tutorial/testing/?h=testclient#using-testclient
# for more information.
# NB! httpx depends on an older version of httpcore, which does not support the h11
# version listed in `requirements.txt`. This is accepted for the moment, but should
# be followed up.

# Note, the minimum supported Python version is expected to be Python 3.9.
