dulwich~=0.20.50
httpx~=0.23.1
invoke~=1.7
pre-commit~=2.21
pylint~=2.15
pytest~=7.2
pytest-cov~=4.0
safety~=2.3

# httpx is necessary due to the use of fastapi/starlette's TestClient
# See https://fastapi.tiangolo.com/tutorial/testing/?h=testclient#using-testclient
# for more information.
# NB! httpx depends on an older version of httpcore, which does not support the h11
# version listed in `requirements.txt`. This is accepted for the moment, but should
# be followed up.
