dulwich~=0.21.3
httpx~=0.23.3
invoke~=2.0
pre-commit>=2.21.0,<3; python_version<"3.8"
pre-commit~=3.2; python_version>="3.8"
pylint~=2.17
pytest~=7.3
pytest-cov~=4.0
safety~=2.3

# httpx is necessary due to the use of fastapi/starlette's TestClient
# See https://fastapi.tiangolo.com/tutorial/testing/?h=testclient#using-testclient
# for more information.
# NB! httpx depends on an older version of httpcore, which does not support the h11
# version listed in `requirements.txt`. This is accepted for the moment, but should
# be followed up.
